
/DO NOT UPLOAD
lede/climate-change-funding/NOT FOR UPLOADING/ai2html-output/sankey-viz-Artboard_1.png
newmarkj/how-bronx-voted-elections/images/bx-2024.png
newmarkj/how-bronx-voted-elections/images/bx-2024.ai
newmarkj/how-bronx-voted-elections/images/bx-2020.png
newmarkj/how-bronx-voted-elections/images/bx-2016.png
newmarkj/how-bronx-voted-elections/images/bx-2016.ai
newmarkj/how-bronx-voted-elections/images/bx-2020.ai
/newmarkj/how-bronx-voted-elections/ai-files
newmarkj/how-bronx-voted-elections/images/bx-elex.psd
newmarkj/how-bronx-voted-elections/images/bronx-mercator-1.svg
newmarkj/how-bronx-voted-elections/images/bronx-mercator.svg
/newmarkj/how-bronx-voted-elections/images/v1-value-counts
/newmarkj/how-bronx-voted-elections/images
