* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sans-serif: "Quicksand", Helvetica, Arial, sans-serif;
    --serif: "Literata", "Crimson Pro", Times, serif;
    --title: "Fredoka", "Quicksand", Helvetica, Arial, sans-serif;
    --text: #191919;
    --dark: #333333;
    --grey: #18181880;
    --light: #fefefe;
    --red: #630000;
    --documentary: #ec7e53;
    --investigation: #8843ced4;
    --data: #4799d8;
    --reporting: #30a650;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--sans-serif);
    color: var(--dark);
    text-align: left;
}

h3 {
    font-family: var(--title);
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    color: var(--red);
    padding: 0 10px;
}

h4 {
    font-weight: 600;
    font-size: 1.2rem;
    font-family: var(--serif);
    width: 100%;
}

h5,
.portfolio-publisher { 
    font-family: var(--title);
    font-weight: 300;
    font-size: 0.9rem;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    color: var(--grey);
    display: inline-block;
}

/* NAVIGATION */

.navbar,
footer {
    background-color: var(--red);
    height: fit-content;
    color: var(--light);
    font-family: var(--serif);
}

.socmed-links {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    img {
        filter: invert(100%);
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        padding: 0 0.5rem;
        margin-bottom: 3px;
        transform: scale(1); 
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.275);
            transition: 0.3s ease-in-out;
        }
    }
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 1rem;

    svg {
        margin-top: 20px;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }
}

.navbar-name {
    a {
        text-decoration: none;
        color: inherit !important;
    }
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--dark);
    color: var(--light);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease;
}

#back-to-top:hover {
    color: var(--red);
    background-color: var(--light);
    border: 1px solid var(--red);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

/* PROFILE */

#bio-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin: 80px;
    gap: 20px;
}

.profile-main {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.column {
    flex: 1;
}

.profile-photo {
    position: relative;
    text-align: center;
    height: max-content;

    img {
        max-width: 70%;
        height: auto;
        object-fit: contain;
    }

    figcaption,
    .credit {
        font-family: var(--sans-serif);
        font-size: 0.8rem;
        line-height: 1.4;
        color: var(--grey);
    }

    figcaption {
        font-style: italic;
        margin-top: 5px;
    }

    .credit {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: -0.2px;
        display: block;
    }
}

#headshot {
    box-shadow: 16px 16px var(--red);
    margin: 18px;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    aspect-ratio: 6/5;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* align-items: center; */
    /* border-radius: 0.5rem; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
}

.card-back {
    transform: rotateY(180deg);
}

.profile-bio {
    width: 85%;

    p {
        font-family: var(--sans-serif);
        font-size: 0.9rem;
        padding-top: 0.5rem;
    }
}

.shake {
    display: inline-block;
}

.shake:hover { 
    animation: wave 1s ease-in-out;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(-10deg); }
    75% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}

.highlight-investigation,
.highlight-data,
.highlight-reporting {
    border-bottom: 2px double #000;
}

.highlight-investigation:hover,
.highlight-data:hover,
.highlight-reporting:hover {
    font-style: italic;
}

.highlight-data:hover {
    color: var(--data);
}

.highlight-investigation:hover {
    color: var(--investigation);
}

.highlight-reporting:hover {
    color: var(--reporting);
}

.profile-text {
    grid-column: 2;
    grid-row: 1 / 3;
    align-self: center;
    animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.bio {
    font-family: var(--sans-serif);
    font-size: 0.95rem;
    min-width: fit-content;
    text-align: left;
    padding-bottom: 10px;
    line-height: 1.8;

    p {
        padding-bottom: 10px;
    }
    
    a {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        font-weight: bold;
        color: inherit;
    }

    a.data:hover {
        text-decoration: wavy underline var(--data);
    }

    a.documentary:hover {
        text-decoration: wavy underline var(--documentary);
    }

    a.investigation:hover {
        text-decoration: wavy underline var(--investigation);
    }

    a.reporting:hover {
        text-decoration: wavy underline var(--reporting);
    }
}

/* WORKS */

main {
    min-width: fit-content;
    max-width: 1000px;
    margin: 0 5%;
}

.works-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px double var(--red);
    width: 90vw;
}

.tabs {
    button {
        font-family: var(--title);
        background-color: inherit;
        border: none;
        padding: 18px 15px 15px;
        transition: 0.3s;
        border-radius: 40% 40% 0 0;
    }

    button:hover {
        background-color: var(--grey);
    }

    button.active {
        background-color: var(--red);
        color: var(--light);
    }
}

.tabs.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    background-color: var(--light);
    z-index: 1000;
}

#works-header {
    display: inline-block;
    font-size: 1.2rem;
}

#menu-toggle {
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#works-header,
#menu-toggle {
    display: none; /* off on desktop */
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0;
    padding: 40px 0;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    .portfolio-title, 
    .portfolio-publisher,
    .portfolio-subject {
        margin: 2px 0;
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-position: top !important;
        object-fit: cover;
        display: block; 
    }

    .portfolio-link {
        display: block;
        position: relative;
        transition: transform 0.3s ease;
        margin-bottom: 10px;
    }

    .portfolio-link:hover {
        transform: scale(1.05);
    }

    .portfolio-link:hover::before {
        opacity: 1;
    }

    .portfolio-link::before {
        content: "";
        position: absolute;
        inset: 0; 
        border: 2px solid transparent; 
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .portfolio-info {
        line-height: 1.2;
    }

    .portfolio-title {
        a {
            color: var(--dark);
            font-family: var(--serif);
            font-weight: 600;
            line-height: 1.2;
            font-size: 1.3rem;
            text-decoration: none;
            transition: color 0.5s ease-in-out;
        }

        .portfolio-category {
            font-size: 0.8rem;
            vertical-align: 2px;
            margin-right: 5px;
            font-family: var(--title);
            font-weight: 300;
            color: #ffffff;
            padding: 2px 7px;
            border-radius: 20px;
        }
    }

    .portfolio-subject {
        color: var(--grey);
        font-size: 0.8rem;
    }

    .portfolio-desc {
        font-family: var(--serif);
        font-style: italic;
        color: var(--dark);
        font-size: 0.9rem;
        font-weight: 100;
        padding-top: 5px;

        a {
            color: inherit;
            font-weight: 500;
            text-decoration: 1px underline dotted var(--grey);
            font-kerning: none;
        }

        a:hover {
            color: var(--light);
            background-color: var(--dark);
        }

        b {
            font-weight: 500;
        }
    }
}

.portfolio-item.hidden {
    display: none;
}

.portfolio-item.investigation {
    .portfolio-link::before {
        border-color: var(--investigation);
    }

    .portfolio-title a:hover {
        color: var(--investigation);
    }
}

.portfolio-item.data {
    .portfolio-link::before {
        border-color: var(--data);
    }

    .portfolio-title a:hover {
        color: var(--data);
    }
}

.portfolio-item.miscellaneous {
    .portfolio-link::before {
        border-color: var(--reporting);
    }

    .portfolio-title a:hover {
        color: var(--reporting);
    }
}

.portfolio-item.documentary {
    .portfolio-link::before {
        border-color: var(--documentary);
    }

    .portfolio-title a:hover {
        color: var(--documentary);
    }
}

.portfolio-category.interactive, 
.portfolio-category.analysis {
    background-color: var(--data);
}

.portfolio-category.investigative {
    background-color: var(--investigation);
}

.portfolio-category.enterprise, 
.portfolio-category.breaking, 
.portfolio-category.feature,
.portfolio-category.essay {
    background-color: var(--reporting);
}

.portfolio-category.documentary, 
.portfolio-category.multimedia,
.portfolio-category.podcast {
    background-color: var(--documentary);
}

/* MOBILE */

@media (max-width: 1024px) {
    .bio {
        font-size: 0.9rem;
    }

    main {
        margin: 0 3%;
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .portfolio-item {
        .portfolio-title {
            font-size: 0.7rem;
        }

        .portfolio-subject {
            font-size: 0.8rem;
        }

        .portfolio-desc {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 905px) {
    #bio-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10% auto;
        gap: 1.2rem;
        max-width: 90%;
    }

    .column {
        flex: none;
    }

    .profile-main {
        width: 100%;
        max-height: fit-content !important;
        display: flex !important; 
        flex-direction: row;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 60px;
    }

    .profile-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0.5rem 0 0;
        max-width: 50%;
        height: 20svh;
    }

    .flip-card {
        width: 100%;
        height: auto;
        transform: none !important;
        transition: none !important;
    }

    .card-front,
    .card-back {
        position: relative;
        transform: none !important;
        backface-visibility: visible !important;
        /* height: auto !important; */
        display: block;
    }

    .card-back {
        display: none !important;
    }

    .profile-bio {
        margin-top: 0.5rem 0 0;
        text-align: center;
        position: relative;
        align-content: center;
    }

    .portfolio-grid {
        margin: 0 0.5rem;
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .portfolio-item {
        margin: 0;
        padding-bottom: 20px;
        border-bottom: 0.5px dashed var(--red);

        .portfolio-title {
            margin: 0;

            a {
                font-size: 1.5rem;
            }
        }

        .portfolio-subject {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 695px) {
    svg {
        display: none;
    }

    .profile-main {
        flex-direction: column !important;
        grid-template-columns: unset !important;
        margin-bottom: 20px;
    }

    .profile-photo {
        display: block;
        text-align: center;
        margin: 0 auto 1;
        padding: 0;
        width: 100%;
        height: max-content;
        grid-row: unset;
    }

    #headshot {
        height: 80%;
    }

    .profile-bio {
        margin-top: 0.5rem;
        text-align: center;
        width: fit-content;
        padding: 0 5rem;
        grid-row: unset;
    }

    #works-header,
    #menu-toggle {
        display: inline-block;
    }

    #menu-toggle {
        background-color: var(--light);
        color: var(--dark);
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    #works-header {
        display: inline-block;
        font-size: 1.2rem;
    }

    .tabs {
        display: none;
    }   
}