* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 19px;
  font-family: "Spectral", Georgia, serif;
  color: #373737;
  line-height: 1.6;
}

header {
  padding: 5em 2em;
  background-image: url("header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%) contrast(95%);
  height: 100svh;
  position: relative;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Vazirmatn", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.1;
}

.hed,
.dek {
  color: #ffffff;
  text-shadow: 2px 2px 2px #242424;
}

.dek {
  margin-top: 1.2em;
  font-style: italic;
}

main {
  margin: 1em;
}

.content {
  max-width: 630px;
  margin: auto;
}

.byline,
.byline-name,
.date {
  font-family: "Vazirmatn", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

.byline-name {
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.date {
  font-style: italic;
  color: #6d6d6d;
  font-size: 1.1rem;
}

p {
  padding-bottom: 1.2rem;
}

a {
  color: #df6502;
}

iframe {
  margin-top: 1rem;
}

footer {
  font-family: "Vazirmatn", Helvetica, Arial, sans-serif;
  background: #f9f2eb;
  text-align: center;
  font-size: 0.7em;
  margin-top: 4em;
  padding: 4em;
  border-top: 1px solid #ff7300;
}

footer > p {
  max-width: 900px;
  margin: auto;
  text-align: left;
}

/* margin on mobile */
@media (max-width: 640px) {
  body {
    font-size: 18px;
  }

  .content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
